.lms-table{
  margin: 50px auto;
}

th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border-radius: 5px;
}

.search-form{
  margin-top: 40px;
  margin-left: 5px;
}

td{
  text-align: center;
  vertical-align: middle;
}

.check-in-btn{
  font-size: inherit;
}

.search-filter{
  float: right;
  margin-right: 80px;
}

.book-loan-form{
  margin-top: 30px;
}

.book-loan-form #searchTerm{
  margin-left: 10px;
}

.book-loan-form #book-loan-search-btn{
  margin-left: 10px;
}
