<div class="lms-table container">
  <p-table [value]="bookLoans" [pSortableColumn]="'dateOut'" [sortOrder]="-1"  styleClass="table table-bordered table-dark">
    <ng-template pTemplate="caption">
      <div style="text-align: left">Book Loans
        <ng-container *ngIf="recentlyCheckedOut"> for borrower {{this.recentlyCheckedOut?.cardId}}</ng-container>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <th *ngFor="let col of columns">
        <p-sortIcon field="'dateOut'"></p-sortIcon>
        {{col.header}}</th>
    </ng-template>
    <ng-template pTemplate="body" let-loan>
      <tr>
        <td *ngFor="let col of columns">
          <span *ngIf="col.field == 'dateOut' || col.field == 'dueDate'">{{getFormattedDate(loan[col.field])}}</span>
          <span *ngIf="col.field == 'isbn' || col.field == 'cardId'">{{loan[col.field]}}</span>
          <span *ngIf="col.field == 'dateIn' && loan?.dateIn">{{getFormattedDate(loan?.dateIn)}}</span>
          <span *ngIf="col.field == 'dateIn' && !loan?.dateIn">
            <button class="btn btn-link" (click)="checkInBook(loan)">Check-in</button>
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


