<div class = "container search-form">
  <h4>Book Loans</h4>
  <div class="col-md-12 lms-table">
    <table class="table table-bordered table-striped ui-sortable-column" style="margin-top: 50px">
      <thead class="bg-success">
        <th>ISBN</th>
        <th>Borrower ID</th>
        <th>Check-out Date</th>
        <th>Due Date</th>
        <th>Check-In Date</th>
      </thead>
      <tbody>
      <tr *ngFor="let row of bookLoans">
        <td>{{row.isbn}}</td>
        <td>{{row.cardId}}</td>
        <td>{{getFormattedDate(row.dateOut)}}</td>
        <td>{{getFormattedDate(row.dueDate)}}</td>
        <td *ngIf="row.dateIn">{{getFormattedDate(row.dateIn)}}</td>
        <td *ngIf="!row.dateIn">
          <button class="btn btn-link" (click)="checkInBook(row)">Check-in</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

