<div class = "container-fluid bg-dark lms-navbar">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/book-loans" routerLinkActive="active">Book Loans</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/borrowers" routerLinkActive="active">Borrower management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/fines" routerLinkActive="active">Fines</a>
    </li>
  </ul>
</div>
