.borrower-form{
  margin: 3em auto;
  border: 2px gray solid;
  border-radius: 7px;
  padding-left: 0;
  padding-right: 0;
  width: 60em;
}

.borrower-form-control input{
  border-style: wave;
  border-width: thin;
  border-radius: 4px;
}

.ng-valid[required]{
  border: 5px solid blue; /* green */
}

.ng-invalid:not(form)  {
  border: 5px solid #ff0000; /* red */
}
