/* You can add global styles to this file, and also import other style files */
th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border-radius: 5px;
}

td{
  text-align: center;
}

.lms-table{
  margin-left: -15px;
}
